.about {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 810px;
    min-width: 100%;
}

#logo {
    width: 25%;
    height: 25%;
    filter: none;
    transform: none;
}

#kwesi {
    width: 400px;
    height: 650px;
    filter: none;
    transform: none;
}

@media screen and (max-width: 1000px) {
    .about-kwesi {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .about-kwesi {
        text-align: center;
    }

    #kwesi {
        width: 300px;
        height: 450px;
    }
}