* {
    box-sizing: border-box;
}

.header {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

#gallery-contact {
    text-align: center;
    margin-top: 10px;
}

.below-gal {
    margin-top: 10px;
    padding-top: 10px;
}

.column > img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
      filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      transition: all .4s ease-in-out;  
    }

.column > img:hover {
filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.03);
}

@media screen and (max-width: 1000px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }

    
  }

  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
   
    .column > img {
        filter: none;
        transform: none;
    }
  }